<!DOCTYPE html>
       <html>
        <head>
        <style>
            h1{
                color:red;
                
            }
        </style>
        <style>
            h2{ 
                color:blue;
                
            }
        </style>
        
        </head>
         <body>
            <h1 align="center">Table 1</h1>
              <table border="1" align="center" width="400">
              <tr>
                 <td bgcolor="yellow">A11</td><td bgcolor="lightgreen">A12</td>
              </tr>
              <tr>
                 <td>B11</td><td>B12</td>
              </tr>
              
              <td>Description:</td><td>Table 1</td>

              </table>
              <br>
              <br>
            <h2 align="center">Table 2</h2>
              <table border="1" align="center" width="400">
              <tr>
                 <td>AA1</td><td>AA2</td>
              </tr>
              <tr>
                 <td bgcolor="lightgreen">AB1</td><td bgcolor="yellow">AB2</td>
              </tr>
              <td>Description:</td><td>Table 2</td>

               </table>






              

        </body>
       </html>